{% extends 'blog/Base.html' %}

{% block content %}
        <h2>Search results....</h2>
        {% if posts|length < 1 %}
            <div class='wrong_search'>
                <p>Your search -<span class='query'>{{query}}</span> - did not match any documents.<p>
                <p>Suggestions:<p>
                <ul>
                    <li>Make sure that all words are spelled correctly.</li>
                    <li>Try different keywords.</li>
                    <li>Try more general keywords.</li>
                </ul>
            </div>
        {% endif %}
        {% if query%}
            <div id="blog">
                {% for i in posts%}
                    <div class="blogdiv">
                        <a class="link" href="{%url 'Blog Details' i.slug%}">
                        {% if i.image%}
                            <div class="image"><img src="{{i.image.url}}" alt="Getting started with Artificial Intelligence" width="100%" height="100%"></div>
                        {% else %}
                            <div class="image"><img src="{{i.image_url}}" alt="Getting started with Artificial Intelligence" width="100%" height="100%"></div>
                        {% endif %}
                        <div class="details">
                            <p class="heading">{{i.title}}</p>
                            <p class="author">{{i.author}}<span> | {{i.date}}</span></p>
                            <p>{{i.content|truncatewords_html:30|safe}}</p>
                        </div></a>
                        </div>
                {% endfor %}
            </div>
        {% else %}
            <h1>Kindly Search Somethings</h1>
        {% endif %}
{% endblock %}